In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:\\Users\\sadhana reddy\\Desktop\\MIS\\Spring'17\\SNA\\NodeXL\\Netflix_location.xlsx",
                   sheet_name = 'Sheet1',skiprows=0,header=1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26092 entries, 0 to 26091
Data columns (total 52 columns):
Vertex 1                          26092 non-null object
Vertex 2                          26092 non-null object
Color                             0 non-null float64
Width                             0 non-null float64
Style                             0 non-null float64
Opacity                           0 non-null float64
Visibility                        0 non-null float64
Label                             0 non-null float64
Label Text Color                  0 non-null float64
Label Font Size                   0 non-null float64
Reciprocated?                     0 non-null float64
ID                                0 non-null float64
Dynamic Filter                    0 non-null float64
Add Your Own Columns Here         0 non-null float64
Relationship                      26092 non-null object
Relationship Date (UTC)           26092 non-null datetime64[ns]
Tweet                             26092 non-null object
URLs in Tweet                     2998 non-null object
Domains in Tweet                  2998 non-null object
Hashtags in Tweet                 4946 non-null object
Media in Tweet                    3608 non-null object
Tweet Image File                  26092 non-null object
Tweet Date (UTC)                  26092 non-null datetime64[ns]
Twitter Page for Tweet            26092 non-null object
Latitude                          10 non-null float64
Longitude                         10 non-null float64
Imported ID                       26092 non-null int64
In-Reply-To Tweet ID              4041 non-null float64
Favorited                         26092 non-null bool
Favorite Count                    26092 non-null int64
In-Reply-To User ID               4508 non-null float64
Is Quote Status                   26092 non-null bool
Language                          26092 non-null object
Possibly Sensitive                0 non-null float64
Quoted Status ID                  1219 non-null float64
Retweeted                         26092 non-null bool
Retweet Count                     26092 non-null int64
Retweet ID                        14561 non-null float64
Source                            26092 non-null object
Truncated                         26092 non-null bool
Unified Twitter ID                26092 non-null int64
Imported Tweet Type               26092 non-null object
Added By Extended Analysis        26092 non-null int64
Corrected By Extended Analysis    26092 non-null int64
Place Bounding Box                632 non-null object
Place Country                     632 non-null object
Place Country Code                632 non-null object
Place Full Name                   632 non-null object
Place ID                          632 non-null object
Place Name                        632 non-null object
Place Type                        632 non-null object
Place URL                         632 non-null object
dtypes: bool(4), datetime64[ns](2), float64(19), int64(6), object(21)
memory usage: 9.7+ MB

In [4]:
df = df[['Place Country Code','Place Full Name','Tweet']]

In [8]:
df.sample(5)

,Place Country Code,Place Full Name,Tweet
16440,NaN,NaN,RT @iampostbad: non vu qu'il faut faire quand ...
14951,NaN,NaN,RT @milliebbrown: ‚ÄúI‚Äôm going to my friends. I‚Äô...
4939,US,"Revere, MA",@netflix where is #JaneTheVirgin season 4 at?...
15253,NaN,NaN,"@OphCourse t√≠a Oph, ayudanos a decidir nos que..."
23992,NaN,NaN,RT @POPSTAFFTWEETS: @LelianaSera @thatizsugoi ...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26092 entries, 0 to 26091
Data columns (total 3 columns):
Place Country Code    632 non-null object
Place Full Name       632 non-null object
Tweet                 26092 non-null object
dtypes: object(3)
memory usage: 611.6+ KB

In [10]:
df[['City','state']] = df['Place Full Name'].str.split(',',n =1,expand=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26092 entries, 0 to 26091
Data columns (total 5 columns):
Place Country Code    632 non-null object
Place Full Name       632 non-null object
Tweet                 26092 non-null object
City                  632 non-null object
state                 626 non-null object
dtypes: object(5)
memory usage: 1019.3+ KB

In [33]:
df.sample(7)

,Place Country Code,Place Full Name,Tweet,City,state
20541,NaN,NaN,RT @NetflixES: Los domingos y d√≠as festivos:\n...,NaN,None
4426,NaN,NaN,One of the kid's parents is the killer and the...,NaN,None
2308,NaN,NaN,RT @KastroKefi: When I‚Äôm watching Netflix and ...,NaN,None
23833,NaN,NaN,Assista sem pagar filmes que n√£o chegaram no N...,NaN,None
12447,NaN,NaN,RT @fahhpawa: @AsiaTitawat @RhyddidRx ‡∏≠‡∏±‡∏ô‡∏ô‡∏µ‡πà‡πÄ‡∏Ñ...,NaN,None
8929,NaN,NaN,"RT @NachoRgz: La raz√≥n por la que ni Televisa,...",NaN,None
2429,US,"Roanoke, VA",I voted for #TeamHouseOfCards on @TheTylt‚Äì@Hou...,Roanoke,VA

In [34]:
df.drop('Place Full Name', axis = 1, inplace=True)

In [35]:
df.columns = ['Country','Tweet','City','State']

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26092 entries, 0 to 26091
Data columns (total 4 columns):
Country    632 non-null object
Tweet      26092 non-null object
City       632 non-null object
State      626 non-null object
dtypes: object(4)
memory usage: 815.5+ KB

## Cleaning the tweets to remove
1. URL links
2. HTML tags
3. Numbers
4. Hashtags and Mentions(@)
5. Emoticons
6. Tokenization
7. Lemmatization
8. Removal of stopwords

In [37]:
import re
import csv
from textblob import TextBlob
from bs4 import BeautifulSoup
from tweepy import OAuthHandler
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [38]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer

[nltk_data] Downloading package stopwords to C:\Users\sadhana
[nltk_data]     reddy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [39]:
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [40]:
pat1 = r'@[A-Za-z0-9]+'
pat2 = r'https?://[A-Za-z0-9./]+'
combined_pat = r'|'.join((pat1, pat2))

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    stripped = re.sub(combined_pat, '', souped)
    try:
        clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = stripped
    letters_only = re.sub("[^a-zA-Z]", " ", clean)# creates unnecessary white spaces
    lower_case = letters_only.lower()
    words = tok.tokenize(lower_case) #tokenize and join together to remove unneccessary white spaces
    

# Tokenization, Lemmatization and removal of stopwords
    data = word_tokenize(words)
    lem = WordNetLemmatizer()
    data = [lem.lemmatize(word) for word in data if not word in set(stopwords.words('english'))]
    return (" ".join(words)).strip()

In [41]:
testing = df.Tweet[:10]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))
test_result

['giveaway fortnite account x netflix premium x giveaway tag x winners bro rt follow pm est may nd good luck have fun',
 'giveaway fortnite account x netflix premium x giveaway tag x winners bro rt follow pm est may nd good luck have fun',
 'giveaway fortnite account x netflix premium x giveaway tag x winners bro rt follow pm est may nd good luck have fun',
 'giveaway fortnite account x netflix premium x giveaway tag x winners bro rt follow pm est may nd good luck have fun',
 'rt fav y participas por x netflix premium x uplays requisitos visitan mi selly activa las notificaciones tagea a un amigo sigue a pvp end minutos favs',
 'rt fav y participas por x netflix premium x uplays requisitos visitan mi selly activa las notificaciones tagea a un amigo sigue a pvp end minutos favs',
 'our trip to the set of w comes to an end this week but first we stop by for a chat w and sarahwaynecallies ahead of s on network catch up w colony s episodes now streaming on netflix ad',
 'has a netflix series beginning in may time to boycott',
 'has a netflix series beginning in may time to boycott',
 'sherules women in engineering event for highschool girls at netflix cuhsd']

In [42]:
%%time
print("Cleaning and parsing the tweets...\n")
clean_tweet = []
for i in range(0,len(df.Tweet)):                                                                   
    clean_tweet.append(tweet_cleaner(df['Tweet'][i]))

Cleaning and parsing the tweets...

Wall time: 6.97 s

In [43]:
clean_df = pd.DataFrame(clean_tweet,columns=['cleaned_tweet'])

In [44]:
df_clean = pd.concat([df,clean_df], axis = 1, ignore_index = True)

In [46]:
df.head()

  Country                                              Tweet City State
0     NaN  ‚úÖ #GIVEAWAY ‚úÖ\n\n‚Ü™Ô∏è Fortnite Account x3\n\n‚Ü™Ô∏è ...  NaN  None
1     NaN  ‚úÖ #GIVEAWAY ‚úÖ\n\n‚Ü™Ô∏è Fortnite Account x3\n\n‚Ü™Ô∏è ...  NaN  None
2     NaN  ‚úÖ #GIVEAWAY ‚úÖ\n\n‚Ü™Ô∏è Fortnite Account x3\n\n‚Ü™Ô∏è ...  NaN  None
3     NaN  ‚úÖ #GIVEAWAY ‚úÖ\n\n‚Ü™Ô∏è Fortnite Account x3\n\n‚Ü™Ô∏è ...  NaN  None
4     NaN  RT &amp; FAV y participas por\n\n- 2x NETFLIX ...  NaN  None

In [47]:
df_clean.columns = ['Country','Tweet','City','State','Clean_tweet']

In [48]:
df_clean.sample(5)

,Country,Tweet,City,State,Clean_tweet
536,NaN,really wish I had netflix,NaN,None,really wish i had netflix
2871,NaN,@netflix If you continue with @michelleisawol...,NaN,None,if you continue with i will cancel my subscrip...
2993,NaN,RT @FastCoDesign: Inside the design processes ...,NaN,None,rt inside the design processes at and more
5146,NaN,RT @camoew_: netflix vous avez une place dans ...,NaN,None,rt netflix vous avez une place dans mon c ur
13997,NaN,RT @WanderlustMayo: Y‚Äôall guys played all the ...,NaN,None,rt y all guys played all the good girls now al...

## Performing Sentiment Analysis using Text Blob

In [50]:
for i in range(0,len(df_clean)):
    blob = TextBlob(df_clean.loc[i,"Clean_tweet"])
    df_clean.loc[i,'polarity'] = blob.sentiment.polarity

In [51]:
df_clean.sample(5)

,Country,Tweet,City,State,Clean_tweet,polarity
3748,NaN,RT @aggretsuko: Need to distract someone? Just...,NaN,None,rt need to distract someone just do the weird ...,-0.5
2901,NaN,Post Malone has an amazing performance at the ...,NaN,None,post malone has an amazing performance at the ...,0.4
13395,NaN,"RT @WesleyKrid: quand le soleil est plus la, n...",NaN,None,rt quand le soleil est plus la netflix est pr ...,0.0
2914,NaN,RT @LevatoTomy: Un d√≠a sos joven y al otro no ...,NaN,None,rt un d a sos joven y al otro no tenes ganas d...,0.0
3253,NaN,RT @TupacShakurLC: This show needs to get back...,NaN,None,rt this show needs to get back on netflix,0.0

In [52]:
for i in range(0,len(df_clean)):
    if(df_clean.loc[i,"polarity"] > 0) :
        df_clean.loc[i,'sentiment'] = 1
    else:
        if(df_clean.loc[i,"polarity"] < 0):
            df_clean.loc[i,'sentiment'] = -1
        else:
            df_clean.loc[i,'sentiment'] = 0

In [53]:
df_clean.sample(5)

,Country,Tweet,City,State,Clean_tweet,polarity,sentiment
22189,NaN,"@CodComrade lots! Princess Cyd, Dope, and Caro...",NaN,None,lots princess cyd dope and carol are all great...,0.153125,1.0
3791,NaN,RT @sancipio: Finished binged watching Agressi...,NaN,None,rt finished binged watching agressive retsuko ...,0.400000,1.0
1546,NaN,Quiero Netflix üò≠,NaN,None,quiero netflix,0.000000,0.0
2582,NaN,"RT @magalitajes: ¬øPueden ver ""No soy un hombre...",NaN,None,rt pueden ver no soy un hombre f cil en netflix,0.000000,0.0
21236,NaN,Netflix is launching a weekly BuzzFeed show in...,NaN,None,netflix is launching a weekly buzzfeed show in...,0.000000,0.0

In [84]:
df_clean.to_csv('netflixsenti.csv',sep = ',',index=False,encoding='utf-8')

## Sentiment Analysis by Country

In [54]:
df_clean.nunique()

Country           41
Tweet          10650
City             322
State             96
Clean_tweet    10041
polarity         825
sentiment          3
dtype: int64

In [55]:
country_senti = df_clean.groupby(['Country'])['sentiment'].mean()
country_pol = df_clean.groupby(['Country'])['polarity'].mean()

In [66]:
country_senti.sample(5)

Country
TH    0.000000
NL    0.166667
CA    0.333333
BE    0.000000
EC    0.000000
Name: sentiment, dtype: float64

In [67]:
country_pol.sample(5)

Country
PH    0.107292
NI    0.000000
AR    0.021951
ZA    0.216667
NL    0.054514
Name: polarity, dtype: float64

## Finding percentage of negative vs positive tweets

In [76]:
pos_tweets = [ tweet for index, tweet in enumerate(df_clean['Clean_tweet'][df_clean['sentiment'] == 1])]
neu_tweets = [ tweet for index, tweet in enumerate(df_clean['Clean_tweet'][df_clean['sentiment'] == -1])]
neg_tweets = [ tweet for index, tweet in enumerate(df_clean['Clean_tweet'][df_clean['sentiment'] == 0])]

In [77]:
print("Percentage of positive tweets: {}%".format(len(pos_tweets)*100/len(df_clean['Clean_tweet'])))
print("Percentage of neutral tweets: {}%".format(len(neu_tweets)*100/len(df_clean['Clean_tweet'])))
print("Percentage of negative tweets: {}%".format(len(neg_tweets)*100/len(df_clean['Clean_tweet'])))

Percentage of positive tweets: 23.97286524605243%
Percentage of neutral tweets: 9.037252797792426%
Percentage of negative tweets: 66.98988195615514%

## Sentiment Analysis for States in USA

In [69]:
df_state = df_clean[df_clean.Country == 'US']

In [70]:
df_state.shape

(365, 7)

In [71]:
df_state.nunique()

Country          1
Tweet          175
City           140
State           36
Clean_tweet    171
polarity        78
sentiment        3
dtype: int64

In [72]:
State_senti = df_state.groupby(['State'])['sentiment'].mean()
State_pol = df_state.groupby(['State'])['polarity'].mean()

In [73]:
State_senti.sample(5)

State
 MD     0.071429
 CO     1.000000
 FL    -0.089744
 USA    0.558140
 NV     0.000000
Name: sentiment, dtype: float64

In [74]:
State_pol.sample(5)

State
 AK    0.000000
 IA    0.250000
 OR    0.100000
 OK    0.245455
 MN    0.216667
Name: polarity, dtype: float64

In [78]:
pos_tweets = [ tweet for index, tweet in enumerate(df_state['Clean_tweet'][df_state['sentiment'] == 1])]
neu_tweets = [ tweet for index, tweet in enumerate(df_state['Clean_tweet'][df_state['sentiment'] == -1])]
neg_tweets = [ tweet for index, tweet in enumerate(df_state['Clean_tweet'][df_state['sentiment'] == 0])]

In [79]:
print("Percentage of positive tweets within US: {}%".format(len(pos_tweets)*100/len(df_state['Clean_tweet'])))
print("Percentage of neutral tweets within US: {}%".format(len(neu_tweets)*100/len(df_state['Clean_tweet'])))
print("Percentage of negative tweets within US: {}%".format(len(neg_tweets)*100/len(df_state['Clean_tweet'])))

Percentage of positive tweets within US: 44.657534246575345%
Percentage of neutral tweets within US: 12.32876712328767%
Percentage of negative tweets within US: 43.013698630136986%

In [80]:
import os
os.getcwd()

'C:\\Users\\sadhana reddy\\Desktop'