In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel("C:\\Users\\Aswathi\\Desktop\\hulu_location.xlsx",
                   sheet_name = 'Edges',skiprows=0,header=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8884 entries, 0 to 8883
Data columns (total 52 columns):
Vertex 1                          8884 non-null object
Vertex 2                          8884 non-null object
Color                             0 non-null float64
Width                             0 non-null float64
Style                             0 non-null float64
Opacity                           0 non-null float64
Visibility                        0 non-null float64
Label                             0 non-null float64
Label Text Color                  0 non-null float64
Label Font Size                   0 non-null float64
Reciprocated?                     0 non-null float64
ID                                0 non-null float64
Dynamic Filter                    0 non-null float64
Add Your Own Columns Here         0 non-null float64
Relationship                      8884 non-null object
Relationship Date (UTC)           8884 non-null datetime64[ns]
Tweet                             8884 non-null object
URLs in Tweet                     1443 non-null object
Domains in Tweet                  1443 non-null object
Hashtags in Tweet                 2950 non-null object
Media in Tweet                    1832 non-null object
Tweet Image File                  8884 non-null object
Tweet Date (UTC)                  8884 non-null datetime64[ns]
Twitter Page for Tweet            8884 non-null object
Latitude                          4 non-null float64
Longitude                         4 non-null float64
Imported ID                       8884 non-null int64
In-Reply-To Tweet ID              3221 non-null float64
Favorited                         8884 non-null bool
Favorite Count                    8884 non-null int64
In-Reply-To User ID               3434 non-null float64
Is Quote Status                   8884 non-null bool
Language                          8884 non-null object
Possibly Sensitive                0 non-null float64
Quoted Status ID                  276 non-null float64
Retweeted                         8884 non-null bool
Retweet Count                     8884 non-null int64
Retweet ID                        3234 non-null float64
Source                            8884 non-null object
Truncated                         8884 non-null bool
Unified Twitter ID                8884 non-null int64
Imported Tweet Type               8884 non-null object
Added By Extended Analysis        8884 non-null int64
Corrected By Extended Analysis    8884 non-null int64
Place Bounding Box                310 non-null object
Place Country                     310 non-null object
Place Country Code                310 non-null object
Place Full Name                   310 non-null object
Place ID                          310 non-null object
Place Name                        310 non-null object
Place Type                        310 non-null object
Place URL                         310 non-null object
dtypes: bool(4), datetime64[ns](2), float64(19), int64(6), object(21)
memory usage: 3.3+ MB

In [6]:
df = df[['Place Country Code','Place Full Name','Tweet']]

In [7]:
df.sample(5)

,Place Country Code,Place Full Name,Tweet
396,NaN,NaN,@AnaLopesVicente @JRothenbergTV @TheCW @cwthe1...
1609,NaN,NaN,As long as you have student loan debt you shou...
4101,NaN,NaN,Who is gone:\n@Nutrish\n@TripAdvisor \n@Wayfai...
8246,NaN,NaN,@TVGuide #Gypsy always and forever #RenewGypsy...
2076,NaN,NaN,Hulu入ってないんですけど期間限定で入ろうかな。 https://t.co/ymq5qNEMSp

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8884 entries, 0 to 8883
Data columns (total 3 columns):
Place Country Code    310 non-null object
Place Full Name       310 non-null object
Tweet                 8884 non-null object
dtypes: object(3)
memory usage: 208.3+ KB

In [9]:
df[['City','state']] = df['Place Full Name'].str.split(',',n =1,expand=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8884 entries, 0 to 8883
Data columns (total 5 columns):
Place Country Code    310 non-null object
Place Full Name       310 non-null object
Tweet                 8884 non-null object
City                  310 non-null object
state                 310 non-null object
dtypes: object(5)
memory usage: 347.1+ KB

In [11]:
df.sample(7)

,Place Country Code,Place Full Name,Tweet,City,state
5187,NaN,NaN,"Infinity War isn't ""dangerous"" for movies. ""Da...",NaN,NaN
2423,NaN,NaN,@ChildofGodRU1 @Starbucks @comcast @HRBlock @S...,NaN,NaN
2535,US,"Rossville, MD",@chiefsdiva69 @david_d1421 @netflix @hulu @Avi...,Rossville,MD
3171,NaN,NaN,@IanMIrwin @ArtistGailM @Linda1746 @morningmik...,NaN,NaN
6487,NaN,NaN,Addicted to HULU,NaN,NaN
529,NaN,NaN,Excited to have these companies on board for D...,NaN,NaN
7419,NaN,NaN,RT @PraQJoao: @CarolineV_001 @JRothenbergTV @T...,NaN,NaN

In [12]:
df.drop('Place Full Name', axis = 1, inplace=True)

In [13]:
df.columns = ['Country','Tweet','City','State']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8884 entries, 0 to 8883
Data columns (total 4 columns):
Country    310 non-null object
Tweet      8884 non-null object
City       310 non-null object
State      310 non-null object
dtypes: object(4)
memory usage: 277.7+ KB

## Cleaning the tweets to remove
1. URL links
2. HTML tags
3. Numbers
4. Hashtags and Mentions(@)
5. Emoticons

In [15]:
import re
import csv
from textblob import TextBlob
from bs4 import BeautifulSoup
from tweepy import OAuthHandler
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [16]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Aswathi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [18]:
pat1 = r'@[A-Za-z0-9]+'
pat2 = r'https?://[A-Za-z0-9./]+'
combined_pat = r'|'.join((pat1, pat2))

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    stripped = re.sub(combined_pat, '', souped)
    try:
        clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = stripped
    letters_only = re.sub("[^a-zA-Z]", " ", clean)# creates unnecessary white spaces
    lower_case = letters_only.lower()
    words = tok.tokenize(lower_case) #tokenize and join together to remove unneccessary white spaces
    return (" ".join(words)).strip()

In [19]:
testing = df.Tweet[:10]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))
test_result

['hour giveaway random paypal steam key hulu x winners retweet follow end hours good luck',
 'hour giveaway random paypal steam key hulu x winners retweet follow end hours good luck',
 'hour giveaway random paypal steam key hulu x winners retweet follow end hours good luck',
 'sungai cikijing menyempit akibat sedimentasi dari erosi di bagian hulu alih fungsi lahan menjadi kawasan permukimaan normalisasi sungai cikijing diperlebar dari m menjadi meter sepanjang km dan dilakukan pengerukan sedimen infopupr',
 'sungai cikijing menyempit akibat sedimentasi dari erosi di bagian hulu alih fungsi lahan menjadi kawasan permukimaan normalisasi sungai cikijing diperlebar dari m menjadi meter sepanjang km dan dilakukan pengerukan sedimen infopupr',
 'sungai cikijing menyempit akibat sedimentasi dari erosi di bagian hulu alih fungsi lahan menjadi kawasan permukimaan normalisasi sungai cikijing diperlebar dari m menjadi meter sepanjang km dan dilakukan pengerukan sedimen infopupr',
 'popculture tweetoftheday via the handmaid s tale season how margaret atwood and bruce miller tackled race on hulu s biggest hit',
 'popculture tweetoftheday via the handmaid s tale season how margaret atwood and bruce miller tackled race on hulu s biggest hit',
 'vpn doesn t feel so private anymore when you get copyright warnings netflix hulu youtube and other streaming services blocked even though you re using a us server i ve switched all devices to current trusted that solves these issues discount codes to follow',
 'bandtogether bandt we want them on tv or i lk all these syfyforbandt huluforbandt netflixforbandt don t forget majandradelfino brendanfehr roswell again and u']

In [20]:
%%time
print("Cleaning and parsing the tweets...\n")
clean_tweet = []
for i in range(0,len(df.Tweet)):                                                                   
    clean_tweet.append(tweet_cleaner(df['Tweet'][i]))

Cleaning and parsing the tweets...

Wall time: 2.97 s

In [21]:
clean_df = pd.DataFrame(clean_tweet,columns=['cleaned_tweet'])

In [22]:
df_clean = pd.concat([df,clean_df], axis = 1, ignore_index = True)

In [23]:
df.head()

  Country                                              Tweet City State
0     NaN  16 Hour #Giveaway !💰\n\n👉Random Paypal\n👉1 Ste...  NaN   NaN
1     NaN  16 Hour #Giveaway !💰\n\n👉Random Paypal\n👉1 Ste...  NaN   NaN
2     NaN  16 Hour #Giveaway !💰\n\n👉Random Paypal\n👉1 Ste...  NaN   NaN
3     NaN  Sungai Cikijing menyempit akibat sedimentasi d...  NaN   NaN
4     NaN  Sungai Cikijing menyempit akibat sedimentasi d...  NaN   NaN

In [24]:
df_clean.columns = ['Country','Tweet','City','State','Clean_tweet']

In [25]:
df_clean.sample(5)

,Country,Tweet,City,State,Clean_tweet
957,NaN,RT @iLIP_JP: 中村倫也、世界19か国放送の日本版シャーロック・ホームズに出演。「...,NaN,NaN,rt jp japan
5021,NaN,劇場版 名探偵コナン 漆黒の追跡者 (チェイサー)：劇場版 名探偵コナン 漆黒の追跡者 (チ...,NaN,NaN,japan
5557,NaN,RT @Zenja20: #XenaRevival season 7 Xena Movie ...,NaN,NaN,rt xenarevival season xena movie or short film...
4042,NaN,"So Y’all Finna Pay For My Hulu &amp; Netflix, ...",NaN,NaN,so y all finna pay for my hulu netflix bet
4265,NaN,@TexasEEOLaw @madbum456 @GildaRose77 @AnguaOce...,NaN,NaN,elli protect mueller law is great idea can use...

## Performing Sentiment Analysis using Text Blob

In [26]:
for i in range(0,len(df_clean)):
    blob = TextBlob(df_clean.loc[i,"Clean_tweet"])
    df_clean.loc[i,'polarity'] = blob.sentiment.polarity

In [27]:
df_clean.sample(5)

,Country,Tweet,City,State,Clean_tweet,polarity
8814,NaN,pls y'all @heretv @HereMediaInc @AmazonVideo @...,NaN,NaN,pls y all,0.000000
6698,NaN,We count on U to bring #Lexa back\nMake #LexaS...,NaN,NaN,we count on u to bring lexa back make lexaspin...,0.000000
8547,NaN,@hulu_support it would be really great if you ...,NaN,NaN,support it would be really great if you would ...,0.333333
2401,NaN,RT @hulu_japan: #安室奈美恵 密着ドキュメンタリー エピソード７を配信スター...,NaN,NaN,rt japan don t wanna cry sweet,0.350000
4352,NaN,Due to the @michelleisawolf unfunny rant at th...,NaN,NaN,due to the unfunny rant at the whca event on i...,-0.211667

In [28]:
for i in range(0,len(df_clean)):
    if(df_clean.loc[i,"polarity"] > 0) :
        df_clean.loc[i,'sentiment'] = 1
    else:
        if(df_clean.loc[i,"polarity"] < 0):
            df_clean.loc[i,'sentiment'] = -1
        else:
            df_clean.loc[i,'sentiment'] = 0

In [29]:
df_clean.sample(5)

,Country,Tweet,City,State,Clean_tweet,polarity,sentiment
3339,NaN,hulu yung friend naming bakla ni ecka nung gra...,NaN,NaN,hulu yung friend naming bakla ni ecka nung grade,0.000,0.0
5183,NaN,@_jadasade It’s already on Hulu,NaN,NaN,jadasade it s already on hulu,0.000,0.0
5605,NaN,@LiisaVliisa @MishaLidov @NBCUniversal @robtap...,NaN,NaN,network a day in the life funny did u know the...,-0.175,-1.0
905,NaN,RT @Baby___Del: @netflix @hulu @Avis @Enterpr...,NaN,NaN,rt del,0.000,0.0
2697,NaN,@ChildofGodRU1 @TimSher38807557 @Starbucks @co...,NaN,NaN,don t forget yeti,0.000,0.0

## Sentiment Analysis by Country

In [30]:
df_clean.nunique()

Country           8
Tweet          2907
City             97
State            39
Clean_tweet    2188
polarity        388
sentiment         3
dtype: int64

In [31]:
country_senti = df_clean.groupby(['Country'])['sentiment'].mean()
country_pol = df_clean.groupby(['Country'])['polarity'].mean()

In [56]:
country_senti

Country
BR    0.000000
FR    0.500000
GB    0.111111
ID    0.000000
JP    0.000000
MY    0.000000
NL    1.000000
US    0.329787
Name: sentiment, dtype: float64

In [57]:
country_pol.sample(5)

Country
MY    0.000000
GB    0.009259
JP    0.000000
NL    0.500000
FR    0.350000
Name: polarity, dtype: float64

In [58]:
df_clean.to_csv('hulusenti.csv',sep=',',index=False,encoding='utf-8')

## Finding percentage of negative vs positive tweets

In [45]:
pos_tweets = [ tweet for index, tweet in enumerate(df_clean['Clean_tweet'][df_clean['sentiment'] == 1])]
neu_tweets = [ tweet for index, tweet in enumerate(df_clean['Clean_tweet'][df_clean['sentiment'] == 0])]
neg_tweets = [ tweet for index, tweet in enumerate(df_clean['Clean_tweet'][df_clean['sentiment'] == -1])]

In [46]:
print("Percentage of positive tweets: {}%".format(len(pos_tweets)*100/len(df_clean['Clean_tweet'])))
print("Percentage of neutral tweets: {}%".format(len(neu_tweets)*100/len(df_clean['Clean_tweet'])))
print("Percentage of negative tweets: {}%".format(len(neg_tweets)*100/len(df_clean['Clean_tweet'])))

Percentage of positive tweets: 30.14407924358397%
Percentage of neutral tweets: 61.28995947771274%
Percentage of negative tweets: 8.565961278703286%

## Sentiment Analysis for States in USA

In [47]:
df_state = df_clean[df_clean.Country == 'US']

In [48]:
df_state.shape

(282, 7)

In [49]:
df_state.nunique()

Country         1
Tweet          99
City           82
State          26
Clean_tweet    96
polarity       39
sentiment       3
dtype: int64

In [50]:
State_senti = df_state.groupby(['State'])['sentiment'].mean()
State_pol = df_state.groupby(['State'])['polarity'].mean()

In [51]:
State_senti.sample(5)

State
 FL    1.000000
 IL    0.157895
 KY    1.000000
 VA    0.000000
 CT    1.000000
Name: sentiment, dtype: float64

In [52]:
State_pol.sample(5)

State
 IN    -0.166667
 USA    0.132001
 MI     0.040909
 NC     0.103030
 KY     0.200000
Name: polarity, dtype: float64

In [54]:
pos_tweets = [ tweet for index, tweet in enumerate(df_state['Clean_tweet'][df_state['sentiment'] == 1])]
neu_tweets = [ tweet for index, tweet in enumerate(df_state['Clean_tweet'][df_state['sentiment'] == 0])]
neg_tweets = [ tweet for index, tweet in enumerate(df_state['Clean_tweet'][df_state['sentiment'] == -1])]

In [55]:
print("Percentage of positive tweets within US: {}%".format(len(pos_tweets)*100/len(df_state['Clean_tweet'])))
print("Percentage of neutral tweets within US: {}%".format(len(neu_tweets)*100/len(df_state['Clean_tweet'])))
print("Percentage of negative tweets within US: {}%".format(len(neg_tweets)*100/len(df_state['Clean_tweet'])))

Percentage of positive tweets within US: 39.716312056737586%
Percentage of neutral tweets within US: 53.54609929078014%
Percentage of negative tweets within US: 6.73758865248227%